<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.mapper.ErpWarehouseStockTakeItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.entity.ErpWarehouseStockTakeItem">
            <id property="id" column="id" />
            <result property="stockTakeId" column="stock_take_id" />
            <result property="goodsId" column="goods_id" />
            <result property="goodsNum" column="goods_num" />
            <result property="goodsName" column="goods_name" />
            <result property="goodsImage" column="goods_image" />
            <result property="skuId" column="sku_id" />
            <result property="skuCode" column="sku_code" />
            <result property="skuName" column="sku_name" />
            <result property="quantity" column="quantity" />
            <result property="takeQuantity" column="take_quantity" />
            <result property="resultQty" column="result_qty" />
            <result property="result" column="result" />
            <result property="resultId" column="result_id" />
            <result property="remark" column="remark" />
            <result property="status" column="status" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="warehouseId" column="warehouse_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_take_id,goods_id,goods_num,goods_name,goods_image,
        sku_id,sku_code,sku_name,quantity,take_quantity,
        result_qty,result,result_id,remark,status,
        create_by,create_time,update_by,update_time,warehouse_id
    </sql>
</mapper>
