<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.mapper.ErpWarehouseStockTakeMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.entity.ErpWarehouseStockTake">
            <id property="id" column="id" />
            <result property="stockTakeDate" column="stock_take_date" />
            <result property="stockTakeMan" column="stock_take_man" />
            <result property="skuUnit" column="sku_unit" />
            <result property="panyingUnit" column="panying_unit" />
            <result property="pankuiUnit" column="pankui_unit" />
            <result property="totalQuantity" column="total_quantity" />
            <result property="resultQuantity" column="result_quantity" />
            <result property="remark" column="remark" />
            <result property="status" column="status" />
            <result property="result" column="result" />
            <result property="warehouseId" column="warehouse_id" />
            <result property="warehouseName" column="warehouse_name" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="firstTakeTime" column="first_take_time" />
            <result property="completeTime" column="complete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,stock_take_date,stock_take_man,sku_unit,panying_unit,pankui_unit,
        total_quantity,result_quantity,remark,status,result,
        warehouse_id,warehouse_name,create_by,create_time,update_by,
        update_time,first_take_time,complete_time
    </sql>
</mapper>
